spring:
  application:
    name: backend-service

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  info:
    title: Cloud Data Platform API
    description: Backend API for job orchestration and data processing
    version: 0.1.0

app:
  aws:
    region: ${AWS_REGION:us-east-1}
  s3:
    rawBucket: ${RAW_BUCKET:cloud-data-platform-dev-raw}
  dynamodb:
    jobsTable: ${JOBS_TABLE:cloud-data-platform-dev-jobs}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    software.amazon.awssdk: DEBUG
    com.michael.backendservice: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"
