spring:
  application:
    name: backend-service

server:
  port: 8080

management:
  info:
    git:
      enabled: true
    build:
      enabled: true
  endpoint:
    info:
      enabled: true
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    com.michael.backendservice: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"